@using (Html.BeginForm())
{
    <label for="sUserName" class="column">
        帐 号：</label>
    <input class="txt text" type="text" id="sUserName" name="sUserName" value="" tabindex="1"
        style="" />
    <div style="height: 25px; margin: 10px 0 0 0; clear: left">
        <label for="sPassword" class="column">
            密 码：</label>
        <input type="password" id="sPassword" name="sPassword" value="" tabindex="2" class="txt text" /></div>
    <input type="submit" name="提交"/> 
}