<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>玩游戏抽大奖</title>
    <link rel="Stylesheet" href="~/Content/CSS/lottery.css" />
</head>
<body>
    <div id="wrap">
        <div class="topbn">
            <p>
                活动期间，在玩库内下载XX游戏即可获得3次抽奖机会。<a class="btn" title="火速前往"></a></p>
        </div>
        <p class="awardbg">
            你现有<span id="num">xx</span>次抽奖机会。<a href="javascript:void(0)" id="refresh">刷新次数</a></p>
        <div class="main">
            <div id="mainzp">
                <img src="~/Content/Images/ypan.png" id="zp" />
                <em id="arrow"></em><span id="start"></span>
            </div>
        </div>
        <dl>
            <dt>温馨提示</dt>
            <dd>
                实物奖将在活动结束后7个工作日内发放。
            </dd>
            <dd class="ddt">
                话费奖将在中奖之后24小时内以短信方式发。
            </dd>
        </dl>
    </div>
    <script src="~/Content/Script/jquery-1.9.1.js"></script>
    <script src="~/Content/Script/jquery.rotate.1-1.js"></script>
    <script src="~/Content/Script/lottery.js"></script>
    @if (!ViewBag.IsAuthenticate)
    { 
        <script src="~/Content/Script/unAuthorize.js"></script>
    }
</body>
</html>
