<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="target-densitydpi=device-dpi,width=480" name="viewport"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>玩游戏抽大奖</title>
    <link rel="Stylesheet" href="~/Content/CSS/lottery.css" />
</head>
<body>
    <div id="wrap">
        <div class="topbn">
            <p>
                活动期间，在玩库内下载XX游戏即可获得3次抽奖机会。<a class="btn" title="火速前往" href="wanku://playFlow/1"></a></p>
        </div>
        <p class="awardbg">
            你现有<span id="num"></span>次抽奖机会。<a href="javascript:void(0)" id="refresh">刷新次数</a></p>
        <div class="main">
            <div id="mainzp">
                <img src="~/Content/Images/ypan.png" alt="zp" id="zp" />
                <em id="arrow"></em><span id="start"></span>
            </div>
        </div>
                <dl>
            <dt>温馨提示</dt>
            1、在玩库玩转流量-热门游戏中下载XXX游戏即可获得3次抽奖机会。 
            <br>2、完成下载安装任务后，奖次数在24小时内更新
            <br>3、重复下载安装XXX游戏不会带来抽奖次数的增加
            <br>4、实物奖励将在中奖后7天内发放
            <br>5、话费奖励将在中奖后48小时内以短信方式下发
        </dl>
    </div>
    <script src="~/Content/Script/jquery-1.9.1.js"></script>
    <script src="~/Content/Script/jquery.rotate.1-1.js"></script>
    <script src="~/Content/Script/lottery.js"></script>
    <script src="~/Content/Script/responsive.js"></script>
    @if (@ViewBag.ErrorMessage != "")
    { 
        <script type="text/javascript">
            $(function () { alert('@ViewBag.ErrorMessage') });
        </script>
    }
</body>
</html>
