<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="Stylesheet" href="../../Content/CSS/lottery.css" />

</head>
<body onunload="">
    <div >
        您现有<span id="num">xx</span>次抽奖机会 <a href="javascript:void(0)" id="refresh">刷新次数</a>
    </div>
    
    <div class="content">
        <img src="../../Content/Image/prize.png" id="image" />
        <img src="../../Content/Image/pointer.png" id="point" />
        <a  href="javascript:void(0)" class="button" id="start">
            <span></span>
        </a>   
    </div>
    <script src="~/Content/Script/jquery-1.9.1.js"></script>
    <script src="~/Content/Script/jquery.rotate.1-1.js"></script>
    <script src="~/Content/Script/lottery.js"></script>
</body>
</html>